# client
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/.next/
client/out/
client/build
client/npm-debug.log*
client/.env.*

# api
api/node_modules
api/.DS_Store
api/.env

*/.DS_Store
.DS_Store