.container {
  text-align: center;
}

.list {
  margin: 0 auto;
  margin-bottom: 50px;
}

.calories {
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.meal {
  display: flex;
  flex-direction: column;
}

.meal div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.meal div span:first-child {
  font-size: 18px;
  font-weight: bold;
}

.meal div span:nth-child(2) {
  font-weight: bold;
  text-transform: capitalize;
  justify-self: end;
}
