.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.header {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
  justify-content: center;
}

.meal div {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 5px;
  align-items: baseline;
}

.meal div span:first-child {
  font-size: 18px;
  font-weight: bold;
  justify-self: center;
}

.meal div span:nth-child(2) {
  font-weight: bold;
  text-transform: capitalize;
  justify-self: start;
}
